.login {
  width: 100vw;
  height: 100vh;
  background-color: #71707c;
  display: flex;
  align-items: center;
}
.login-wrap {
  width: 400px;
  margin: auto;
}
.login-wrap button{
  width: 100%;
}
.login-wrap label {
  font-size: 16px;
  color: white;
}