// 定义颜色

// 主要颜色
.v-primary {
  color: #008080 !important;
}
// 警告颜色
.v-warring {
  color: #e6a23c !important;
}

// 成功
.v-success {
  color: #67c23a !important;
}

// 危险颜色
.v-danger {
  color: #f56c6c !important;
}

.v-info {
  color: #909399 !important;
}

// 默认颜色
.v-default {
  color: #fff !important;
}

// 纯黑色
.v-black{
  color: #000 !important;
}

.v-hover:hover {
  cursor: pointer;
  color: #409EFF !important;
}