// 辅助文字
.v-mini{
  font-size: 12px !important;
}
// 正文（小）
.v-small{
  font-size: 13px !important;
}
// 正文
.v-base{
  font-size: 14px !important;
}
// 小标题
.v-medium{
  font-size: 16px !important;
}
// 标题
.v-large {
  font-size: 18px !important;
}
